@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

:root {
  --blue: rgb(40, 150, 216);
  --dk-blue: rgb(30, 115, 168);
  --card-offset: 150px;
  --card-offset-md: 175px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Source Sans Pro";
  background: linear-gradient(white, rgb(40, 150, 216, 0.15) 80%, white);
  padding: var(--card-offset) 0 100px 0;
}

.container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding-bottom: var(--card-offset);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.card {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 280px;
  height: 170px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  perspective: 1000px;
  backface-visibility: hidden;
  transition: transform 0.8s;
}

.card--rotated {
  transform: rotateY(0.5turn);
}

.card__value--focused {
  border: 2px solid var(--dk-blue);
  border-radius: 5px;
}

.card--front__logo {
  position: absolute;
  top: 5%;
  right: 4%;
}

.card--front__chip {
  position: absolute;
  top: 5%;
  left: 4%;
}

.card--front__number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.card--front__owner {
  position: absolute;
  top: 70%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.card--front__validThru {
  position: absolute;
  top: 70%;
  right: 5%;
  display: flex;
  flex-direction: column;
}

.card--back__magneticBar {
  position: relative;
  top: 15px;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.75);
}

.card--back__cvv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 75px;
  width: 100%;
  right: 5%;
}
.card--back__cvvValueContainer {
  width: 90%;
  height: 40px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card--back__cvvValue {
  color: #000;
}

.cardForm {
  display: grid;
  position: relative;
  top: 100px;
  padding: 0 5%;
}

.cardForm__inputGroup {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
}

.cardForm__label {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: #666;
  background: white;
  transition: color 0.25s ease-in;
}

.cardForm__input {
  height: 3rem;
  padding: 0 1em;
  font-size: 1.25rem;
  transition: border-color 0.25s ease-in;
  outline: none;
  border: 2px solid rgb(219, 219, 219);
  border-radius: 5px;
  color: #666;
}

.cardForm__input:focus {
  border: 2px solid var(--blue);
}

.cardForm__input:focus + .cardForm__label {
  color: var(--blue);
}

.cardForm__submitButton {
  width: 100%;
  height: 3rem;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
}

.cardForm__submitButton:active {
  border-color: var(--dk-blue);
  outline: none;
}

.cardForm__dateInput {
  display: flex;
  justify-content: space-between;
}

.cardForm__dateInput__select {
  background: white;
  width: 48%;
}

@media screen and (max-width: 575px) {
  .card {
    background: url(img/bg_small.jpg);
  }
}

/* landscape phones */
@media screen and (min-width: 576px) {
  .card {
    width: 420px;
    height: 255px;
    background: url(img/bg_medium.jpg);
    font-size: 1.3rem;
  }

  .card--front__number {
    font-size: 1.9rem;
  }

  .cardForm {
    top: 170px;
  }

  .wrapper {
    padding: var(--card-offset-md) 0 200px 0;
  }

  .container  {
    padding-bottom: 255px;
  }
}

/* tablets */
@media screen and (min-width: 768px) {
  .card {
    width: 560px;
    height: 340px;
    background: url(img/bg_large.jpg);
    font-size: 1.75rem;
  }

  .card--front__number {
    font-size: 2.5rem;
  }

  .cardForm {
    top: 250px;
  }

  .wrapper {
    padding: var(--card-offset-md) 0 200px 0;
  }

  .container  {
    padding-bottom: 340px;
  }
}

/* desktop */
@media screen and (min-width: 992px) {

}
